.App {
	text-align: center;
	background-color: black;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#navbar-menu {
	height: 100px;
	font-size: 25px;
	color: rgb(4, 112, 18);
}

/* navbar font */
@import url("https://fonts.googleapis.com/css?family=Acme|Noto+Serif|Playfair+Display+SC|Merriweather|Quicksand&display=swap");

.navbar-logo {
	color: rgb(3, 114, 90) !important;
	font-size: 55px;
	padding: 0 10px 0 10px;
	font-family: "Acme", serif;
}

nav a {
	color: rgb(245, 71, 71);
	font-family: "Playfair Display SC", serif;
	padding: 30px;
}

.nav-dropdown {
	color: black;
}

.loginout {
	height: 40px;
	width: 160px;
	margin: 7px;
	border-radius: 15px;
	padding: 7px;
	font-family: "Noto Serif", serif;
}

.welcome {
	font-family: "Playfair Display SC", serif;
	font-size: 22px;
	color: rgb(87, 40, 4);
	margin-right: 15px;
}

.map {
	padding: 0 150px 0 150px;
}

.transitcontrols:hover .busicon {
	color: rgb(40, 178, 228);
	cursor: pointer;
}

.drivingcontrols:hover .caricon {
	color: rgb(237, 129, 110);
	cursor: pointer;
}

.bikingcontrols:hover .bikeicon {
	color: rgb(97, 242, 121);
	cursor: pointer;
}

.walkingcontrols:hover .walkicon {
	color: rgb(237, 141, 242);
	cursor: pointer;
}
